@import "tailwindcss";

/* 🌐 Variables base */
:root {
  --background: #ffffff;
  --blueBackground: #F4F7FB;
  --darkBlue: #111828;
  --gray-text: #586071;
  --primary: #FC5761;
  --middleBlue: #0A1F48;
  --myBlack: #1E1E1E;
  --colorStars: #FBBA3D;
  --font-sans: "Inter", sans-serif;
}

/* 🎨 Conectar variables a Tailwind */
@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-blueBackground: var(--blueBackground);
  --color-darkBlue: var(--darkBlue);
  --color-gray-text: var(--gray-text);
  --color-middleBlue: var(--middleBlue);
  --color-myBlack: var(--myBlack);
  --color-colorStars: var(--colorStars) --font-sans: var(--font-sans);
}


html {
  scroll-behavior: smooth !important;

}

body {
  background: var(--background);
  color: var(--myBlack);
  font-family: Inter, Helvetica, sans-serif;
}

.tourist-content a {
  @apply text-primary underline hover:text-darkBlue transition-colors;
}

input,
a {
  outline: none;
}